name: Release Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            name: windows
            extension: .exe
          - os: ubuntu-latest
            name: linux
            extension: ''
          - os: macos-latest
            name: darwin
            extension: ''

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    
    - name: Get tag name
      id: tag
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      shell: bash
    
    - name: Build GUI Application
      run: |
        GOOS=${{ matrix.name }} GOARCH=amd64 go build \
          -ldflags="-X 'main.version=${{ env.VERSION }}' -X 'main.buildTime=$(date +%Y%m%d%H%M%S)' -X 'main.gitCommit=$(git rev-parse --short HEAD)'" \
          -o vpn-client${{ matrix.extension }} ./cmd/vpn-client
    
    - name: Build CLI Tool
      run: |
        GOOS=${{ matrix.name }} GOARCH=amd64 go build \
          -ldflags="-X 'main.version=${{ env.VERSION }}' -X 'main.buildTime=$(date +%Y%m%d%H%M%S)' -X 'main.gitCommit=$(git rev-parse --short HEAD)'" \
          -o vpnctl${{ matrix.extension }} ./cmd/vpnctl
    
    - name: Create release artifacts
      run: |
        mkdir -p release/${{ matrix.name }}
        cp vpn-client${{ matrix.extension }} release/${{ matrix.name }}/
        cp vpnctl${{ matrix.extension }} release/${{ matrix.name }}/
      shell: bash
    
    - name: Upload GUI artifact
      uses: actions/upload-artifact@v3
      with:
        name: vpn-client-${{ matrix.name }}
        path: vpn-client${{ matrix.extension }}
        
    - name: Upload CLI artifact
      uses: actions/upload-artifact@v3
      with:
        name: vpnctl-${{ matrix.name }}
        path: vpnctl${{ matrix.extension }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download GUI artifacts
      uses: actions/download-artifact@v3
      with:
        path: artifacts
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          artifacts/vpn-client-windows/vpn-client.exe
          artifacts/vpn-client-linux/vpn-client
          artifacts/vpn-client-darwin/vpn-client
          artifacts/vpnctl-windows/vpnctl.exe
          artifacts/vpnctl-linux/vpnctl
          artifacts/vpnctl-darwin/vpnctl
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}